Data Science Tools and Ecosystem

In this Notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1.R
2.Python
3.SQL

Some of the commonly used libraries used by Data Scientists include:
1.Matplotlib
2.Pandas
3.ggplot2


| Datascience tools |
| ----------------- |
| Jupyter Notebooks |
| SAS               |
| Apache Spark      |

Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [27]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [35]:
minutes = 200
hours = minutes/60
print (hours)

3.3333333333333335

**Objectives:**
- Data Science Languages
- Data Science Tools
- Basic Arithmetic

Author
Alex Figueroa